body {
    max-width: 1000px;
    margin: auto;
    background-color: rgb(32, 32, 32);
    background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
    background-size: 10px 10px, 10px 10px, 10px 5px;
    background-position: 0px 0px, 5px 5px, 0px 0px;
}

h2 {
    margin: 15px 15px 10px 15px;
}

.navbar {
    padding-left: 0px;
}

.jumbotron {
    padding: 32px 16px 10px 16px;
    margin-bottom: 15px; 
}

.footer img{
  margin: 10px 3px 0 3px; 
  height: 30px;
}

#send-form-button {
    margin-bottom: 16px;
}

#footerlinks {
    border: 1px solid rgba(0,0,0,0.6);
    border-radius: 0.3rem;
}

.pics {
    padding: 3px 3px 3px 3px;
}
